@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-background text-text-primary antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Autofill dark fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #1c1c1c inset;
  transition: background-color 5000s ease-in-out 0s;
}
